Repository Andrej220/go-utils: changes, and which Codecov flags are due for each by the changed paths.
All: autostr, wpool, zlog, backoff, httpsrv, grlimit

codecov.yaml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2         
  round: down          
  range: "50...95"     

  status:
    project:
      default:
        target: auto   
        threshold: 1%  
        base: auto
    patch:
      default:
        target: auto   
        threshold: 1%  

comment:
  layout: "reach, diff, files"
  require_changes: false   
  behavior: default

ignore:
  - "**/*_generated.go"
  - "**/mock_*/*.go"
  - "**/mocks/**/*.go"
  - "**/internal/tools/**"
  - "**/vendor/**"
  - "**/examples/**"
  - "**/*.pb.go"           
  - "**/*.gen.go"          

flags:
  autostr:
    paths:
      - autostr/
  wpool:
    paths:
      - wpool/
  zlog:
    paths:
      - zlog/
  backoff:
    paths:
      - backoff/
  httpsrv:
    paths:
      - httpsrv/
  grlimit:
    paths:
      - grlimit/

gofmt fix
  autostr/autostr.go
  autostr/autostr_test.go
Due: autostr

ci: add gofmt hook and ci check
  .githooks/pre-commit
  .github/workflows/ci.yml
  backoff/backoff.go
  backoff/backoff_test.go
  grlimit/grlimit.go
  grlimit/grlimit_test.go
  httpsrv/errors.go
  httpsrv/httpserver.go
  httpsrv/httpserver_test.go
  netfetch/go.mod
  netfetch/netf.go
  netfetch/release.yaml
  wpool/wpool.go
  wpool/wpool_test.go
  zlog/logger.go
  zlog/logger_test.go
  zlog/stdlog_bridge.go
Due: wpool, zlog, backoff, httpsrv, grlimit

zlog: add force to stderr, redirect all output to stderr
  zlog/logger.go
  zlog/logger_test.go
Due: zlog

zlog: make default logger to write everthing to stderr
  zlog/logger.go
  zlog/logger_fromctl_stderr_test.go
Due: zlog

fix: update module path
  backoff/go.mod
  go.work.sum
  httpsrv/go.mod
  httpsrv/httpserver.go
  httpsrv/httpserver_test.go
  wpool/go.mod
  wpool/wpool.go
  zlog/go.mod
Due: wpool, zlog, backoff, httpsrv

migrate remaining modules to azargarov; httpsrv -> zlog v0.1.4
  go.work
  go.work.sum
  grlimit/go.mod
  httpsrv/go.mod
  httpsrv/go.sum
  netfetch/go.mod
  sum.sh
  summary.txt
  wpool/go.sum
Due: wpool, httpsrv, grlimit

migrate remaining modules to azargarov; httpsrv -> zlog v0.1.4
  go.work.sum
  summary.txt
  wpool/go.mod
  wpool/go.sum
Due: wpool

fix: change test to accept *defaultLogger
  go.work.sum
  zlog/logger_test.go
Due: zlog

fix(zlog): keep original logger in defaultLogger.With()
  zlog/logger.go
  zlog/logger_test.go
Due: zlog

chore(wpool): update zlog dependency to v0.1.5
  go.work.sum
  wpool/go.mod
  wpool/go.sum
Due: wpool

release(zlog): v0.2.1 — redirect helpers, thread-safe fallback, stdlog bridge polish
  zlog/CHANGELOG.md
  zlog/LICENSE
  zlog/README.md
  zlog/context.go
  zlog/defaultLogger.go
  zlog/logger.go
  zlog/logger_test.go
  zlog/noopLogger.go
  zlog/stdlog_bridge.go
  zlog/utils.go
Due: zlog

fix: update zlog test
  zlog/logger_fromctl_stderr_test.go
Due: zlog

docs: add GoDoc comments and interface awwertion for internal loggers
  zlog/context.go
  zlog/defaultLogger.go
  zlog/exampl_test.go
  zlog/logger.go
  zlog/noopLogger.go
  zlog/stdlog_bridge.go
  zlog/utils.go
Due: zlog

test(examples): assert empty stdout in examples
  zlog/exampl_test.go
Due: zlog

chore(deps): bump zlog dependency to v0.2.2 in wpool module
  go.work.sum
  wpool/go.mod
  wpool/go.sum
Due: wpool
